repo_path: "./"
project_hierarchy: .project_hierarchy
max_thread_count: 10
max_document_tokens: 5000
ignore_list: []
whitelist_path: #if whitelist_path is not none, We only generate docs on whitelist
Markdown_Docs_folder: "markdown_docs"
ollama_host: "http://localhost:11434"
ollama_model: "codellama"